torch==1.13.1
torchvision
torchaudio
zstandard
accelerate
datasets
wandb
deepspeed
absl-py
torchinfo
scikit-learn
datasets==2.10.1
matplotlib
seaborn
sentencepiece
triton
functorch==1.13.1
xformers
git+https://github.com/Bayes-Song/transformers.git